body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #2D4F2B;
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  background-color: #FFF1CA;
}

.app-name {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

.app-description {
  font-size: 22px;
  text-align: center;
  color: #708A58;
}

.description-highlight {
  color: #2D4F2B;
  font-weight: bold;
  font-size: 26px;
  padding: 0 10px;
  background-color: #FFF1CA;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer {
  margin: 30px;
  font-size: 100px;
  font-weight: bold;
  color: #000;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn {
  margin: 10px;
  cursor: pointer;
  padding: 10px 20px;
  min-width: 150px;
  background-color: #FFB823;
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  border: none;
  border-bottom: 4px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pause {
  background-color: #FFF1CA;
  color: #000;
}

.btn-reset {
  background-color: #708A58;
}

.btn:hover {
  box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.15);
  border-bottom: 4px solid #708A58;
  transition: 0.4s;
}

.btn-icon {
  height: 25px;
  margin-right: 15px;
}

footer p{
  margin: 0;
  font-size: 20px;
}

.github-logo {
  height: 30px;
}

.github-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  color: #000;
}